/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
img {
    width: 100%;
    height: 100%;
}
.common-wrap {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    clear: both;
}
.main-wrap {
    float: left;
    width: 100%;
    overflow: hidden;
}
.mobi{display: none; }
.desk{display: block; }
/* =================Header Section Start================= */
.header-wrap {
    float: left;
    width: 100%;
    position: relative;
    z-index: 99;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
}
.logo {
    width: 125px;
    margin: 0 50px;
}
.logo::before {
    content: url(../img/logo-bg.png);
    position: absolute;
    left: 50%;
    top: 95px;
    z-index: 1;
    transform: translateX(-50%);
}
.header-inner {
    padding: 20px 0;
}
.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.left-menu ul, .right-menu ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.left-menu ul li, .right-menu ul li {
    margin: 0 20px;
}
.left-menu ul li a, .right-menu ul li a {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    transition: all 0.3s ease;
}
.nav-wrap ul li a:hover, .nav-wrap ul li.active a {
    color: #1faceb;
}
.nav-wrap ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 0;
    height: 2px;
    background: #1faceb;
    transition: all 0.3s ease;
}
.nav-wrap ul li a:hover::after, .nav-wrap ul li.active a::after {
    width: 100%;
}


/* =================Hero Section Start================= */
.hero-wrap{
    float: left;
    width: 100%;
    min-height: 550px;
    position: relative;
    background: url(../img/hero-bg.png) no-repeat center bottom;
    background-size: cover;
    z-index: 9;
}
.hero-wrap .common-wrap {
    max-width: 300px;
}
.hero-text {
    margin: 150px 0 100px;
    text-align: center;
}
.hero-text h3{
    font-size: 24px;
    font-weight: bold;
    color: #54b5bc;
}
.hero-text h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ea662b;
}
.hero-text p{
    font-size: 14px;
    color: #6d6d6d;
    font-weight: 500;
}

/* =================Facts Section Start================= */
.facts-wrap {
    float: left;
    width: 100%;
    position: relative;
    margin: -15px 0 0;
    background: #7AB6C0;
    z-index: 0;
}
.facts-wrap .common-wrap{
    max-width: 1240px;
}
.facts-inner{    
    padding: 70px 0;
}
.fact-item-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 35px;
}
.fact-item{
    text-align: center;
    position: relative;
    padding: 50px 60px 70px;
    overflow: hidden;
}
.fact-item .fact-item-thumb{
    width: 45px;
    margin: 0 auto 15px;
}
.fact-item-content {
    margin-bottom: 10px;
}
.fact-item-content h3 {
    font-size: 26px;
    color: #333333;
    margin-bottom: 15px;
}
.fact-item-content p {
    font-size: 14px;
    color: #6d6d6d;
}
.fact-item .fact-item-bg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* =================About Us Section Start================= */
.aboutus-wrap{
    float: left;
    width: 100%;
}
.about-inner {
    padding: 80px 0;
    overflow: hidden;
}
.about-img {
    float: right;
    width: 60.75%;
    position: relative;
}
.about-img .about-img-1::before {
    content: "";
    position: absolute;
    left: -65%;
    top: 41%;
    width: 100%;
    height: 100%;
    background: url(../img/about-img-2.jpg) no-repeat center center;
    background-size: cover;
}
.about-title {
    float: left;
    width: 32%;
}
.about-title h2{
    font-size: 40px;
    color: #333333;
}
.about-title a{
    font-size: 20px;
    color: #1faceb;
    position: relative;
    text-decoration: none;
}
.about-title a::before {
    content: " ";
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 86%;
    height: 2px;
    background: #1faceb;
}
.about-text {
    clear: both;
}
.about-text p {
    float: right;
    width: 37%;
    padding-left: 15px;
    position: relative;
    margin-top: 30px;
}
.about-text p::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: #1faceb;
}

/* ===================Our Program Section Start================= */
.program-wrap {
    float: left;
    width: 100%;
    position: relative;
}
.program-wrap .program-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
.program-inner {
    padding: 80px 0;
}
.program-title{
    margin-bottom: 60px;
}
.program-title h2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    position: relative;
    margin-bottom: 40px;
}
.program-title h2::before {
    content: url(../img/program-title-underline.png);
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}
.program-text {
    padding: 10px;
}
.program-item-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    background: url(../img/program-middle-line.png) repeat-y top center;
}
.program-item {
    width: 40%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-end-end-radius: 10px;
    border-top-left-radius: 10px;
}
.program-item-img img {
    border-top-left-radius: 10px;
}
.program-item .program-thumb{
    font-size: 18px;
    color: #333333;
    text-align: center;
}
.program-item .program-desc {
    text-align: center;
    font-size: 14px;
    color: #6d6d6d;
    padding: 15px 40px;
}
.program-item .program-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #E3E3E3;
}
.program-info .age{
    width: 42.5%;
    padding-left: 30px;
    position: relative;
}
.program-info .age::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background: #E3E3E3;
}
.program-info .age span{
    display: block;
    font-size: 14px;
    color: #6d6d6d;
}
.program-info .age span:last-child{
    color: #1faceb;
}
.program-info .more-info-btn{
    width: 57%;
    text-align: right;
    padding-right: 10px;
}
.program-info .more-info-btn a{
    display: inline-block;
    padding: 10px 30px;
    background: #FFCA00;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

/* ===================Maps Section Start================= */
.maps-wrap {
    float: left;
    width: 100%;
}
.maps-wrap .common-wrap {
    max-width: 100%;
    padding: 0;
}

/* ===================Footer Section Start================= */
.footer-wrap {
    float: left;
    width: 100%;
    background: #3E3E3E;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.footer-text ul {
    list-style: none;
    display: flex;
}
.footer-text ul li {
    padding: 0 15px;
    position: relative;
}
.footer-text ul li::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    width: 2px;
    background: #fff;
}
.footer-text ul li:last-child:before {
    display: none;
}
.footer-text ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.footer-social i {
    font-size: 20px;
    color: #fff;
}


/* ====================================
Facility Page Css start
==================================== */
.facility-wrap {
    float: left;
    width: 100%;
    padding: 50px 0;
    background: #FAFAFA;
}
.facility-title{
    margin-bottom: 60px;
}
.facility-title h2{
    font-size: 40px;
    color: #333333;
    text-align: center;
    position: relative;
}
.facility-title h2::before {
    content: url(../img/facility-title-bg.png);
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
}
.facility-item-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px 50px;
}
.facility-item-wrap .facility-item {
    padding: 10px 10px 60px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.facility-item .facility-img {
    position: relative;
    overflow:hidden;
    display: grid;
}
.facility-item .facility-img::after {
    content: url(../img/facility-hover-icon.png);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease;
}
.facility-item .facility-img::before {
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: #00000096;
    transition: all 0.4s ease;
}
.facility-item:hover .facility-img::before {
    top: 0;
}
.facility-item:hover .facility-img::after {
    opacity: 1;
}

/* ===========================
About us Page css start 
=========================== */
.aboutPage-wrap {
    background: #FAFAFA;
}
.aboutPage-inner {
    display: grid;
    grid-template-columns: 49% 47.20%;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
}
.aboutPage-content .aboutPage-title h3{
    color: #1faceb;
    font-size: 26px;
    font-weight: 600;
}
.aboutPage-content .aboutPage-title h2{
    color: #333333;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
.aboutPage-title{
    margin-bottom: 20px;
}
.aboutPage-desc p{
    color: #6d6d6d;
    font-size: 14px;
    margin-bottom: 15px;
}


/* =============================================
Responsive Layout Design 
============================================= */
/* ==========Tablet Layout========= */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .left-menu ul li, .right-menu ul li {
        margin: 0 15px;
    }
    .logo {
        width: 100px;
        margin: 0 30px;
    }
    .logo::before {
        top: 83px;
    }
    .program-item {
        width: 44%;
    }
    .program-info .more-info-btn a {
        padding: 10px 20px;
        font-size: 14px;
    }
    .footer-text ul li a {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

/* ========Mobile layout design======= */
@media only screen and (min-width: 320px) and (max-width: 767px){
    .mobi{display: block; }
    .desk{display: none; }
    .navShow {overflow-y: hidden; }
    .about-title {
        width: 100%;
        margin-bottom: 30px;
    }
    .about-img {
        margin: 0 0 16%;
    }
    .about-text p {
        width: 100%;
    }
    .program-item-wrap {
        background-image: none;
        justify-content: center;
    }
    .program-info .more-info-btn a {
        padding: 7px 12px;
        font-size: 14px;
    }
    .program-info .age {
        padding-left: 0;
    }
    .aboutPage-inner {
        grid-template-columns: 100%;
    }
    .program-item {
        width: 100%;
    }
    .facts-inner {
        padding: 70px 20px;
    }
    .fact-item {
        padding: 50px;
    }
    img.about-img-1 {
        margin-top: 100px;
    }
    .program-wrap .program-bg {
        height: 220px;
    }
    .footer-inner {
        align-items: center;
    }
    .footer-text ul {
        display: block;
    }
    .footer-text ul li {
        padding: 0;
    }
    .footer-text ul li::before {
        display: none;
    }
    .footer-text ul li a {
        font-size: 12px;
        font-weight: 400;
    }
    /* Mobile navigation menu design */
    .header-wrap .common-wrap {
        padding: 0;
    }
    .header-inner {
        padding: 0;
    }
    .mobi-nav {
        display: flex; 
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
        padding: 15px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 1;
    }
    .mobi-nav .logo {
        margin: 0;
        width: 100px;
    }
    .mobi-nav .logo::before {
        display: none;
    }
    .mobi-nav .hamburger {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .mobi-nav .hamburger > div {
        position: relative;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background: #333333;
        transition: .3s ease-in-out;
    }
    .navShow .hamburger div {
        background: transparent;
    }
    .mobi-nav .hamburger > div::before, .mobi-nav .hamburger > div::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background: #333333;
        transition: .3s ease-in-out;
    }
    .mobi-nav .hamburger > div::before {
        top: -7px;
        left: 0;
    }
    .mobi-nav .hamburger > div::after {
        bottom: -7px;
        left: 0;
    }
    .navShow .hamburger > div::before {
        top: 0;
        transform: rotate(45deg);
    }
    .navShow .hamburger > div::after {
        bottom: 0;
        transform: rotate(-45deg);
    }
    /* Mobile menu */
    .nav-wrap {
        display: block;
        min-height: calc(100vh - 80px);
        position: fixed;
        top: 80px;
        left: 0;
        transform: translateX(-200%);
        width: 100%;
        background: #fff;
        transition: .4s ease-in-out;
    }
    .navShow .nav-wrap {
        transform: translateX(0);
    }
    .left-menu ul, .right-menu ul {
        display: block;
    }
    .nav-wrap li a::after {
        bottom: -5px;
    }
    .left-menu ul li, .right-menu ul li {
        margin: 10px 20px;
        text-align: center;
    }
    .nav-wrap ul li a::after {
        bottom: -5px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .program-item {
        width: 65%;
    }
}